In [2]:
#imports

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [17]:
for country in ['eng', 'fra', 'ger', 'ita', 'spa']:
    shots_temp=pd.read_csv(country+'_shots.csv')
    if country=='eng':
        shots=shots_temp.copy()
    else:
        shots=pd.concat([shots, shots_temp], axis=0)
shots.shape

(40461, 4)

In [19]:
%matplotlib
fg=shots.copy()
fg['distance']=[round(x/2,0)*2 for x in fg['distance']]
fg_box=fg[fg['box']==1].groupby('distance')['goal'].agg(['sum', 'size'])
fg_box['fg']=fg_box['sum']/fg_box['size']
fg_nobox=fg[fg['box']==0].groupby('distance')['goal'].agg(['sum', 'size'])
fg_nobox['fg']=fg_nobox['sum']/fg_nobox['size']


plt.plot(fg_box.index, fg_box['fg'], label='Inside The Box')
plt.plot(fg_nobox.index, fg_nobox['fg'], label='Outside The Box')
plt.xlim([1, 50])



plt.xlabel('Goal Distance')
plt.ylabel('Goal %')
plt.legend()
plt.show()

Using matplotlib backend: TkAgg

In [21]:
fg_box

          sum  size        fg
distance
0.0         1     1  1.000000
2.0        91   120  0.758333
4.0       302   515  0.586408
6.0       509  1440  0.353472
8.0       580  2358  0.245971
10.0      560  3224  0.173697
12.0      546  4080  0.133824
14.0      548  4564  0.120070
16.0      366  3677  0.099538
18.0      175  2534  0.069061
20.0       48  1167  0.041131
22.0       11   315  0.034921
24.0        0    14  0.000000